/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600&display=swap');

/* VARIÁVEIS */
:root{
    --color-white: #FFFFFF;
    --color-whitesmoke: whitesmoke;
    --color-cornflowerblue: cornflowerblue;
}

/* GERAL */
html, body, header, article, section, div, p, h1, h2{
    margin: 0;
    padding: 0;
    border: 0;
}

/* INICIAL */
article{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: var(--color-whitesmoke);
}

h1{
    font-family: Teko, sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
}

section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav__menu{
    width: 240px;
    height: 240px;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--color-white);
    border: 1px solid var(--color-cornflowerblue);
}

.nav__menu__link{
    width: 100%;
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding: 11px 0px;
    text-align: center;
    text-decoration: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: var(--color-cornflowerblue);
    font-family: 'DM+Sans', sans-serif;
}

.nav__menu__link:hover{
    color: var(--color-whitesmoke);
}

.nav__menu img{
    width: 200px;
    height: 200px;
}

@media screen and (min-width: 750px){
    article{
        max-width: 750px;
        margin: 20px auto;
        padding-bottom: 20px;
    }

    h1{
        font-size: 55px;
    }
}