/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600&display=swap');

/* VARIÁVEIS */
:root{
    --color-white: #FFFFFF;
    --color-whitesmoke: whitesmoke;
    --color-cornflowerblue: cornflowerblue;
    --color-dark-blue: rgb(2, 2, 129);
    --color-lightgray: lightgray;
    --color-black: #000000;
}

/* GERAL */
html, body, header, article, section, div, p, h1, h2{
    margin: 0;
    padding: 0;
    border: 0;
}

/* INICIAL */
header{
    padding: 5px;
    background-color: var(--color-cornflowerblue);
}

.nav__container{
    display: flex;
    align-items: center;
}

#btn__menu{
    display: none;
}

#icone{
    border: none;
    font-size: 2rem;
}

.nav__menu{
    display: none;
}

.nav__menu__link{
    font-size: 16px;
    font-family: 'DM+Sans', sans-serif;
    padding: 0px 10px;
    color: var(--color-black);
    text-decoration: none;
}

.nav__menu__link:hover{
    color: var(--color-whitesmoke);
}

#btn__menu:checked~.nav__menu{
    display: block;
}

h1 {
    font-family: 'Teko', sans-serif;
    font-size: 43px;
    font-weight: 500;
    text-align: center;
    padding: 0px 70px;
}

h2 {
    font-family: 'Teko', sans-serif;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    margin: 20px;
}

h3 {
    font-family:  'Teko', sans-serif;
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    margin: 20px;
}

#container {
    position: relative;
}

#image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: none;
}

#result {
    font-family: 'DM+Sans', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    color: var(--color-whitesmoke);
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translateX(-50%);
    width: 85px;
}

#but {
    text-align: center;  
}

#button, #reset {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 2px;
    background-color: var(--color-lightgray);
    font-family: 'DM+Sans', sans-serif;
}

#button:hover {
    background-color: var(--color-dark-blue);
    border-radius: 2px;
    color: var(--color-whitesmoke);
    cursor: pointer;
}

#reset:hover {
    background-color: var(--color-dark-blue);
    border-radius: 2px;
    color: var(--color-whitesmoke);
    cursor: pointer;
}

@media screen and (min-width: 800px){
    
    .nav__container{
        position: absolute;
    }
    
    .nav__menu{
        display: block;
    }

    #btn__menu:checked~.nav__menu{
        display: none;
    }

    h1{
        font-size: 60px;
    }

    h2 {
        font-size: 38px;
    }
    
    h3 {
        font-size: 28px;
    }   
}