/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600&display=swap');

/* VARIÃVEIS */
:root{
    --color-white: #FFFFFF;
    --color-whitesmoke: whitesmoke;
    --color-aliceblue: aliceblue;
    --color-cornflowerblue: cornflowerblue;
    --color-dark-blue: rgb(2, 2, 129);
    --color-lightgray: lightgray;
    --color-black: #000000;
}

/* GERAL */
html, body, header, article, section, div, p, h1, h2{
    margin: 0;
    padding: 0;
    border: 0;
}

/* INICIAL */
header{
    padding: 5px;
    background-color: var(--color-cornflowerblue);
}

.nav__container{
    display: flex;
    align-items: center;
}

#btn__menu{
    display: none;
}

#icone{
    border: none;
    font-size: 2rem;
}

.nav__menu{
    display: none;
}

.nav__menu__link{
    font-size: 16px;
    font-family: 'DM+Sans', sans-serif;
    padding: 0px 10px;
    color: var(--color-black);
    text-decoration: none;
}

.nav__menu__link:hover{
    color: var(--color-whitesmoke);
}

#btn__menu:checked~.nav__menu{
    display: block;
}

h1{
    font-family: 'Teko', sans-serif;
    font-size: 43px;
    font-weight: 500;
    padding: 0px 15px;
    text-align: center;
}

h2{
    font-family: 'Teko', sans-serif;
    font-size: 26px;
    font-weight: 500;
    padding: 10px 0px;
    text-align: center;
}

.jogo{
    margin: 10px 5px;
}

.jogador{
    width: 100%;
    margin: 0 auto;
    height: 180px;
    border-radius: 2px;
    background-color: var(--color-aliceblue);
}

.jogador__header{
    text-align: center;
}

.jogador__escolha{
    height: 65px;
    display: flex;
    justify-content: space-evenly;
}

.jogador__contagem{
    position: absolute;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'DM+Sans', sans-serif;
}

img{
    width: 95px;
    height: 65px;
    border-radius: 5px;
    background-color: var(--color-white);
}

#pedra, #papel, #tesoura{
    display: none;
}

#img__pedra:hover > img{
    cursor: pointer;
    background-color: var(--color-cornflowerblue);
}

#img__papel:hover > img{
    cursor: pointer;
    background-color: var(--color-cornflowerblue);
}

#img__tesoura:hover > img{
    cursor: pointer;
    background-color: var(--color-cornflowerblue);
}

.computador{
    width: 100%;
    margin: 0 auto;
    height: 180px;
    border-radius: 2px;
    background-color: var(--color-aliceblue);
}

.computador__contagem{
    position: absolute;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'DM+Sans', sans-serif;
}

.computador__escolha{
    height: 65px;
    display: flex;
    justify-content: center;
}

.computador__escolha img{
    background-color: var(--color-cornflowerblue);
}

.result{
    width: 100%;
    text-align: center;
}

#result__text{
    font-family: 'DM+Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 15px;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 2px;
}

.result__btn{
    margin-bottom: 10px;
}

#reset__jogo, #reset__points{
    width: 100px;
    height: 30px;
    border: none;
    font-size: 15px;
    border-radius: 2px;
    background-color: var(--color-lightgray);
    font-family: 'DM+Sans', sans-serif;
}

#reset__jogo:hover{
    background-color: var(--color-dark-blue);
    border-radius: 2px;
    color: var(--color-whitesmoke);
    cursor: pointer;
}

#reset__points:hover{
    background-color: var(--color-dark-blue);
    border-radius: 2px;
    color: var(--color-whitesmoke);
    cursor: pointer;
}

@media screen and (min-width: 400px){
   
    .jogador{
        max-width: 365px;
        margin: 0 auto;
    }

    .computador{
        max-width: 365px;
        margin: 0 auto;
    }

    #result__text{
        max-width: 345px;
        margin: 10px auto;
    }
}

@media screen and (min-width: 800px){

    .nav__container{
        position: absolute;
    }
    
    .nav__menu{
        display: block;
    }

    #btn__menu:checked~.nav__menu{
        display: none;
    }

    h1{
        font-size: 60px;
    }

    .jogo{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .jogador{
        margin: 0;
    }

    .computador{
        margin: 0;
    }

    .result{
        width: 320px;
    }

    #result__text{
        width: 300px;
    }

    .result__btn{
        margin-bottom: 0px;
    }
}